body,html{
  min-height: 450px !important;
  height: auto !important;
}

body {
  background-color: #EADEDB;
  height: 450px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.App {
  background-color: #FCFEFC;
  padding: 5px;
  border-radius: 5px;
  width: 93vw;
  height: 95vh;
  position: relative;
  left: auto;
  top: 12px;
}


